.center-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:host ::ng-deep .mat-form-field {
    width:100% !important;
}

.mat-list-item {
    margin-top: 10px;
}

.mat-card {
    min-width: 300px;
    overflow: hidden;
}

.mat-card .mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.mat-card-actions a {
    font-size: 12px;
    margin: 10px;
}

.mat-card-actions button {
    float: right;
}